@charset "UTF-8";

/* 回答はここに書いてね */
.bubble {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border: solid 5px #222;
  border-radius: 30px;
}

.bubble:before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color: #222;
}

.bubble:after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  border: 20px solid transparent;
  border-top-color:  #FFF;
}

.bubble p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

/* 回答はここに書いてね */
